

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebTMDT</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebTMDT_Client.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/0bf48518ad.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color:rgb(139 203 255)">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="https://res.cloudinary.com/dkmk9tdwx/image/upload/v1628192627/logo_v5ukvv.png"
                         style="height: 40px; width: 40px"
                         alt="Nav Icon" />
                    <p style=" display: inline">
                        Circle's Shop
                    </p>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" id="basic-navbar-nav">
                    <div class="d-flex justify-content-center">
                        <form class="d-flex top-nav-searchbar">
                            <input class="form-control me-2"
                                   type="search"
                                   placeholder="Tìm sản phẩm mà bạn quan tâm ..."
                                   aria-label="Search"
                                   name="search" /><button type="submit" class="btn btn-success">
                                <i class="fas fa-search" aria-hidden="true"></i>
                            </button>
                        </form>
                    </div>
                    <ul class="align-items-center navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/search">
                                <i class="fas fa-receipt me-2" aria-hidden="true"></i>
                                <p class="hide_for_1399 show_for_991 black">Sản phẩm</p>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle text-decoration-none hide_for_1399 show_for_991 black" 
                            role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-bars"></i> Thể Loại
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/news">
                                <i class="far fa-newspaper me-2" aria-hidden="true"></i>
                                <p class="hide_for_1399 show_for_991 black">Tin tức</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">
                                <i class="far fa-question-circle me-2" aria-hidden="true"></i>
                                <p class="hide_for_1399 show_for_991 black">Liên hệ</p>
                            </a>
                        </li>
                        @await Component.InvokeAsync("LoginInfo")
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">

        @RenderBody()

    </div>

    <footer class="site-footer footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h6>Về chúng tôi</h6>
                    <p class="text-justify">
                        Cửa hàng mua thực phẩm online TP.HCM. Chuyên bán các loại rau
                        sạch, củ quả, trái cây, thực phẩm tươi sống
                    </p>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Dịch vụ</h6>
                    <ul class="footer-links">
                        <li>
                            <a to={"/search"}>Tìm sản phẩm</a>
                        </li>
                        <li>
                            <a to={"/home"}>Mua sắm trực tuyến</a>
                        </li>
                        <li>
                            <a to={"/home"}>Giao hàng miễn phí</a>
                        </li>
                    </ul>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Quick Links</h6>
                    <ul class="footer-links">
                        <li>
                            <a href="https://github.com/CircleQMinh">
                                My Github Page
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr />
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">
                        Copyright &copy; 2021 All Rights Reserved by
                        <a href="https://github.com/CircleQMinh">Quốc Minh</a>.
                        (10/12/2021)
                    </p>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="social-icons">
                        <li>
                            <a class="facebook" to={"/home"}>
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a class="twitter" to={"/home"}>
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a class="dribbble" to={"/home"}>
                                <i class="fa fa-dribbble"></i>
                            </a>
                        </li>
                        <li>
                            <a class="linkedin" to={"/home"}>
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/0bf48518ad.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
