@page
@model WebTMDT_Client.Pages.ErrorModel
@{
    ViewData["Title"] = $"Không tìm thấy kết quả";
    Layout = "_LayoutHome";
}

<div id="notfound" style="background-color : #A52A2A">
    <div class="notfound">
        <div class="notfound-404">
            <div></div>
            <h1>404</h1>
        </div>
        <h2>Page not found</h2>
        <p>
            The page you are looking for might have been removed had its name
            changed or is temporarily unavailable.
        </p>
        <a href="/home">home page</a>
    </div>
</div>