html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

.black{
    color:black!important;
}

.p-nav {
    display: inline;
}

.top-nav-searchbar {
    width: 550px;
}

.hide_for_1399 {
    display: inline;
}

.breadcrumb_nav {
    background-color: black;
    color: greenyellow;
    height: 40px;
    display: flex;
}

.breadcrumb_nav a {
    color: greenyellow;
    text-decoration: none !important;
}

.breadcrumb_nav p {
    color: greenyellow;
    display: inline;
}



/*checkout--------------------------------------*/
.checkout_sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 75px;
}


/*-----------------------------------------breakpoint*/
/* Breakpoint	    Class infix	  Dimensions
X-Small	          None	      <576px  ---
Small	            sm	        ≥576px
Medium	          md	        ≥768px  --- 
Large	            lg	        ≥992px   
Extra large	      xl	        ≥1200px 
Extra extra large	xxl	        ≥1400px */

@media (max-width: 1399.98px) {
    .top-nav-searchbar {
        width: 760px;
    }

    .hide_for_1399 {
        display: none;
    }
}

@media (max-width: 1199.98px) {
    .top-nav-searchbar {
        width: 515px;
    }
}

@media (max-width: 991.98px) {
    .show_for_991 {
        display: inline;
    }
}

@media (max-width: 767.98px) {
    #filter_search {
        display: none;
    }
}

@media (max-width: 575.98px) {
    .top-nav-searchbar {
        width: 250px;
    }
    .float-btn-icon {
        margin-top: 8px;
    }
    .float-btn-cart {
        width: 30px;
        height: 30px;
    }

    .float-btn-chat {
        width: 30px;
        height: 30px;
        bottom: 10px;
    }

    .float-btn-icon {
        margin-top: 8px;
    }

    .float-btn-cart-number {
        top: 70px;
        height: 25px;
        right: 30px;
    }

    .float-btn-cart-price {
        display: none;
    }
}
@media (max-width: 375px) {
    .float-btn-cart {
        width: 30px;
        height: 30px;
        top: 80px;
    }
}
@media (max-width: 300px) {
}
