@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Thông tin sản phẩm";
    Layout = "_LayoutHome";
}

<div class="container mt-2">
    <div class="row">
        <div class="col-12 col-md-4"><img src="https://cdn0.fahasa.com/media/catalog/product/cache/1/small_image/600x600/9df78eab33525d08d6e5fb8d27136e95/i/m/image_187010.jpg" class="img-fluid rounded border border-5" alt="..."></div><div class="col-12 col-md-8">
            <h1 class="pro_name">Hoàng Tử Bé</h1>
            <h3 class="pro_author text-muted">
                <span class="red">
                    <i class="fas fa-user me-2" aria-hidden="true"></i>Tác giả :
                </span> Antoine De Saint-Exupéry
            </h3>
            <h3 class="pro_author text-muted"><span class="blue"><i class="fas fa-book me-2" aria-hidden="true"></i>NXB :</span> NXB Hội Nhà Văn</h3><h3 class="pro_author text-muted"><span class="green"><i class="fas fa-print me-2" aria-hidden="true"></i>Năm xuất bản :</span> 2019</h3><p class="pro_des">Sơ lược</p><hr><p class="pro_des_long">
                Hoàng tử bé được viết ở New York trong những ngày tác giả sống lưu vong và được xuất bản lần đầu tiên tại New York vào năm 1943, rồi đến năm 1946 mới được xuất bản tại Pháp. Không nghi ngờ gì, đây là tác phẩm nổi tiếng nhất, được đọc nhiều nhất và cũng được yêu mến nhất của Saint-Exupéry. Cuốn sách được bình chọn là tác phẩm hay nhất thế kỉ 20 ở Pháp, đồng thời cũng là cuốn sách Pháp được dịch và được đọc nhiều nhất trên thế giới. Với 250 ngôn ngữ dịch khác nhau kể cả phương ngữ cùng hơn 200 triệu bản in trên toàn thế giới, Hoàng tử bé được coi là một trong những tác phẩm bán chạy nhất của nhân loại.

                Ở Việt Nam, Hoàng tử bé được dịch và xuất bản khá sớm. Từ năm 1966 đã có  đồng thời hai bản dịch: Hoàng tử bé của Bùi Giáng do An Tiêm xuất bản và Cậu hoàng con của Trần Thiện Đạo do Khai Trí xuất bản. Từ đó đến nay đã có thêm nhiều bản dịch Hoàng tử bé mới của các dịch giả khác nhau. Bản dịch Hoàng tử bé lần này, xuất bản nhân dịp kỷ niệm 70 năm Hoàng tử bé ra đời, cũng là ấn bản đầu tiên được Gallimard chính thức chuyển nhượng bản quyền tại Việt Nam, hy vọng sẽ góp phần làm phong phú thêm việc dịch và tiếp nhận tác phẩm quan trọng này với các thế hệ độc giả.

                Tôi cứ sống cô độc như vậy, chẳng có một ai để chuyện trò thật sự, cho tới một lần gặp nạn ở sa mạc Sahara cách đây sáu năm. Có thứ gì đó bị vỡ trong động cơ máy bay. Và vì ở bên cạnh chẳng có thợ máy cũng như hành khách nào nên một mình tôi sẽ phải cố mà sửa cho bằng được vụ hỏng hóc nan giải này. Với tôi đó thật là một việc sống còn. Tôi chỉ có vừa đủ nước để uống trong tám ngày.

                Thế là đêm đầu tiên tôi ngủ trên cát, cách mọi chốn có người ở cả nghìn dặm xa. Tôi cô đơn hơn cả một kẻ đắm tàu sống sót trên bè giữa đại dương. Thế nên các bạn cứ tưởng tượng tôi đã ngạc nhiên làm sao, khi ánh ngày vừa rạng, thì một giọng nói nhỏ nhẹ lạ lùng đã đánh thức tôi. Giọng ấy nói:

                “Ông làm ơn… vẽ cho tôi một con cừu!”

                - Trích "Hoàng tử bé"

                Nhận định

                “Đây là một câu chuyện tự nó đã rất đáng yêu, ẩn giấu một triết lý quá đỗi nhẹ nhàng và thi vị.”

                - The New York Times

                Mã hàng	8935235221734
                Tên Nhà Cung Cấp	Nhã Nam
                Tác giả	Antoine De Saint-Exupéry
                Người Dịch	Trác Phong
                NXB	NXB Hội Nhà Văn
                Năm XB	2019
                Trọng lượng (gr)	120
                Kích Thước Bao Bì	15 x 23
                Số trang	102
                Hình thức	Bìa Mềm
                Sản phẩm hiển thị trong
                MUA SẮM AN TOÀN NGÀN DEAL GIẢM SỐC - Giảm Khủng Đến 60%
                Nhã Nam
                Top sách được phiên dịch nhiều nhất
                Ví VNPAY hoàn 50K
                Sản phẩm bán chạy nhất	Top 100 sản phẩm Truyện Đọc Thiếu Nhi bán chạy của tháng
                LẦN ĐẦU TIÊN CÓ BẢN QUYỀN CHÍNH THỨC TẠI VIỆT NAM

                Hoàng tử bé được viết ở New York trong những ngày tác giả sống lưu vong và được xuất bản lần đầu tiên tại New York vào năm 1943, rồi đến năm 1946 mới được xuất bản tại Pháp. Không nghi ngờ gì, đây là tác phẩm nổi tiếng nhất, được đọc nhiều nhất và cũng được yêu mến nhất của Saint-Exupéry. Cuốn sách được bình chọn là tác phẩm hay nhất thế kỉ 20 ở Pháp, đồng thời cũng là cuốn sách Pháp được dịch và được đọc nhiều nhất trên thế giới. Với 250 ngôn ngữ dịch khác nhau kể cả phương ngữ cùng hơn 200 triệu bản in trên toàn thế giới, Hoàng tử bé được coi là một trong những tác phẩm bán chạy nhất của nhân loại.
            </p><hr><p><span><i class="fas fa-dollar-sign me-2" aria-hidden="true"></i>Giá :</span><span class="text-center text-danger fs-3 ms-2 ">70,000đ</span><span class="text-center text-muted text-decoration-line-through mx-3 ">79,000đ</span><span class="badge rounded-pill bg-danger ">-9,000đ</span></p><p><span><i class="fas fa-tags me-2" aria-hidden="true"></i>Thể loại :</span> <span class="d-inline mx-1"> <a href="/search?genre=15" style="color: rgb(25, 135, 151);">☆Thiếu Nhi</a></span></p><hr><button class="btn btn-round btn-info"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Thêm vào giỏ</button><button class="btn btn-round btn-info ms-2"><i class="far fa-heart" aria-hidden="true"></i> Thêm yêu thích</button>
        </div>
    </div><hr>
</div>
