@using WebTMDT_Client.ResponseModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutHome";
}
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="container-fluid">
        <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://cdn.waterstones.com/images/00215563-1920x533.jpeg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://cdn.waterstones.com/images/00216862-1920x533.jpeg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://cdn.waterstones.com/images/00216858-1920x533.jpeg" class="d-block w-100" alt="...">
    </div>
  </div>
  </div>


  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="mt-5">
    <hr></hr>
    <p class="text-monospace text-center">
        FIND YOUR PLACE AT B&N'S ONLINE BOOKSTORE Over 5 million books ready
        to ship & 3.6 million eBooks to download right now. Curbside pickup
        available in most stores!
    </p>
    <hr></hr>
</div>
<div class="container">
    <div class="d-flex justify-content-center">
        <h3 class="text-monospace text-tron">
            <i class="far fa-star"></i> Gợi ý cho bạn
        </h3>
    </div>
</div>
@await Component.InvokeAsync("ProductView", new ProductListFilterModel(){pageNumber=1,pageSize=8})
<div class="mt-5">
    <hr></hr>
    <p class="text-monospace text-center">
        FIND YOUR PLACE AT B&N'S ONLINE BOOKSTORE Over 5 million books ready
        to ship & 3.6 million eBooks to download right now. Curbside pickup
        available in most stores!
    </p>
    <hr></hr>
</div>
<div class="container">
    <div class="d-flex justify-content-center">
        <h3 class="text-monospace text-tron">
            <i class="far fa-star"></i> Mới nhất
        </h3>
    </div>
     <a asp-controller="Product" asp-action="ProductDetail" asp-route-id="2">Test</a>
</div>
<div class="mt-5">
    <hr></hr>
    <p class="text-monospace text-center">
        FIND YOUR PLACE AT B&N'S ONLINE BOOKSTORE Over 5 million books ready
        to ship & 3.6 million eBooks to download right now. Curbside pickup
        available in most stores!
    </p>
    <hr></hr>
</div>
<div class="container">
    <hr></hr>
    <div class="d-flex justify-content-center">
        <h3 class="text-monospace text-tron">
            <i class="far fa-star"></i> Về chúng tôi
        </h3>
    </div>
    <hr></hr>
</div>
<div class="container">
    <div class="row border border-4">
        <div class="col-12 col-md-6">
            <div>
                <b>Selection</b>
                <p>
                    We have more than 13 million titles to choose from, from the
                    earliest <a href="/b/childrens-books/">board books</a> to
                    the all-time classics of{" "}
                    <a href="/b/literature-and-fiction/">literature</a>.
                </p>
                <b>Purchasing Power</b>
                <p>
                    Used books are often treasures that are out-of-print or rare.
                    With Wish Lists you can choose to be notified the instant we
                    find a copy, see how often we find rare titles, and see who else
                    is interested.
                </p>
                <b>FREE Shipping &amp; More</b>
                <p>
                    When you've found the books you want we'll ship qualifying
                    orders to your door for <strong>FREE</strong> in 100% recyclable
                    packaging. If there is no demand for a book, we will donate it
                    to charity, or we'll recycle it.
                </p>
                <p>
                    <button to="/aboutus.aspx" class="btn btn-success ">
                    More About Us
                    </button>
                </p>
            </div>
        </div>
        <div class="col-12 col-md-6 p-2">
            <img class="img-fluid"
                 src="https://ielts24h.edu.vn/upload/files/images/fullsize/2021/08/16/ielts-speaking-part-2-topic-book-bai-mau-chu-de-sach.jpg"
                 alt="..."></img>
        </div>
    </div>
</div>
<hr></hr>


